<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.sclfitness.keeppace">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GetStartedActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                Linear
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RaceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserLogActivity"
            android:label="@string/userLog_title"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".RecordsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".CrunchPaceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".Pop"
            android:label="Keep Pace Terms Of Service"
            android:theme="@style/TranslucentPopUp"
            ></activity>
    </application>

</manifest>